<!DOCTYPE html>
<html>

<head>
  <title>Calculator</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/" method="post">
    <fieldset>
      <label>Mathematical expression :</label>
      <input type="text" name="math_expression" placeholder="Input your Mathematical Expression" />

      <input type="submit" value="Calculate" />

    </fieldset>
  </form>
  <p>Mathematical Expression is</p>
  <h1><%= math_expression %></h1>
  <p>Result is</p>
  <h1><%= result %></h1>

</body>

</html>