<!DOCTYPE html>
<html>

<head>
  <title>Calculator</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/" method="post">
    <fieldset>
      <label for="equation">Equation :</label>
      <input type="text" id="equation" name="equation" placeholder="your Equation" />

      <input type="submit" value="Calculate" />

    </fieldset>
  </form>
  <p>Equation is</p>
  <h1><%= title %></h1>
  <p>Result is</p>
  <h1><%= outputre %></h1>

</body>

</html>